<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dscore.sudokuscorer">

    <application
        android:name="com.dscore.sudokuscorer.SupportApplication"
        android:allowBackup="true"
        android:icon="@mipmap/hyakugojuu"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/hyakugojuu"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.dscore.sudokuscorer.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>